<!doctype html>
<html lang="en">
  <head>
    {{ template "prom_console_head" }}
  </head>
  <body style="padding: 0 1rem">
    {{ template "navbar" . }}

    {{ template "prom_right_table_head" }}

    <tr><th colspan="2">Free Memory</th></tr>
    {{ range printf "node_memory_MemAvailable_bytes" | query | sortByLabel "instance" }}
    <tr>
      <td>{{ .Labels.instance }}</td>
      <td>{{ template "prom_query_drilldown" (args (printf "node_memory_MemAvailable_bytes{instance='%s'}" .Labels.instance) "B" "humanize1024") }}</td>
    </tr>
    {{ end }}
    <tr><th colspan="2">Free Disk Space</th></tr>
    {{ range printf "node_filesystem_free_bytes{mountpoint='/'}" | query | sortByLabel "instance" }}
    <tr>
      <td>{{ .Labels.instance }}</td>
      <td>{{ template "prom_query_drilldown" (args (printf "node_filesystem_free_bytes{mountpoint='/',instance='%s'}" .Labels.instance) "B" "humanize1024") }}</td>
    </tr>
    {{ end }}

    {{ template "prom_right_table_tail" }}


    {{ template "prom_content_head" . }}

    <div style="width: 1000px; margin: 0 auto;">
      <h3>Free memory</h3>
      <div id="memGraph"></div>
      <script>
       new PromConsole.Graph({
         node: document.querySelector("#memGraph"),
         expr: "node_memory_MemAvailable_bytes",
         min: 0,
         yUnits: "B",
         yAxisFormatter: PromConsole.NumberFormatter.humanize1024,
         yHoverFormatter: PromConsole.NumberFormatter.humanize1024,
         yTitle: 'Memory'
       })
      </script>

      <h3>Free disk space</h3>
      <div id="diskSpaceGraph"></div>
      <script>
       new PromConsole.Graph({
         node: document.querySelector("#diskSpaceGraph"),
         expr: "node_filesystem_free_bytes{mountpoint='/'}",
         min: 0,
         yUnits: "B",
         yAxisFormatter: PromConsole.NumberFormatter.humanize1024,
         yHoverFormatter: PromConsole.NumberFormatter.humanize1024,
         yTitle: 'Disk space'
       })
      </script>
    </div>

    {{ template "prom_content_tail" . }}
  </body>
</html>
